<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-lg-6'>
      <div class="form-group">
        <label>Account Name</label>
        <input type="text" name="account" class="form-control" #account>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="form-group">
        <label>Account type</label>
        <select class="form-control" #type>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>
    <div class="col-12">
        <button class="btn btn-info" (click)="onSubmit(account.value,type.value)">Submit</button>
    </div>
  </div>
</div>