<div class="container my-2">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit()" #f="ngForm"><!--F local variable is a reference for Form-->
                <div ngModelGroup="UserName" #username=ngModelGroup><!--ngModelGroup use to group form data in group-->
                    <div class="form-group">
                        <label for="userfname">First Name</label>
                        <input 
                        type="text" 
                        id="userfname" 
                        ngModel 
                        name="Fname" 
                        class="form-control" 
                        required
                        #fname="ngModel">
                        <span class="help-block" *ngIf="!fname.valid && fname.touched">Please enter valid Firstname</span>
                    </div>
                    <div class="form-group">
                        <label for="usermname">Middle Name</label>
                        <input 
                        type="text" 
                        id="usermname" 
                        ngModel 
                        name="Mname" 
                        class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="userlname">Last Name</label>
                        <input 
                        type="text" 
                        id="userlname" 
                        ngModel 
                        name="Lname" 
                        class="form-control" 
                        required
                        #lname="ngModel">
                        <span *ngIf="!lname.valid && lname.touched">Please enter valid Lastname</span>
                    </div>
                </div>
                <span *ngIf="!username.valid && username.touched">Please enter valid name</span>
                <div ngModelGroup="userAccountInfo">
                    <div class="form-group">
                        <label for="userid">Username</label>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <input 
                                id="userid" 
                                type="text" 
                                class="form-control"
                                name="userid"
                                required 
                                ngModel
                                #uName="ngModel">
                            </div>
                            <div class="col-12 col-lg-4 my-2 my-lg-0">
                                <button 
                                type="button"
                                (click)="onSuggestUsername()"
                                class="btn btn-secondary float-left float-md-right float-lg-right">Suggest username</button>
                            </div>
                        </div>
                    </div>
                    <span class="help-block" *ngIf="!uName.valid && uName.touched">Enter valid userName</span>
                </div>
                <div ngModelGroup="userDetail">
                    <div class="form-group">
                        <label for="useremail">Email</label>
                        <input type="email" id="useremail" ngModel name="email" class="form-control" 
                            required 
                            email 
                            #email="ngModel">
                        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
                    </div>
                    <label for="gender">Gender</label>
                    <div class="d-flex">
                        <div class="mx-2 form-check" *ngFor="let gender of genders">
                            <input type="radio" 
                                ngModel 
                                class="form-check-input"
                                name="gender" 
                                [value]="gender"
                                required>
                            <label class="form-check-label" for="">
                                {{gender}}
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-4 mt-4" *ngIf="accountFormData.UserName.Fname!=''">
            UserName: {{accountFormData.UserName.Fname+" "+accountFormData.UserName?.Mname+" "+accountFormData.UserName.Lname}}
            <br>
            UserId: {{accountFormData.userAccountInfo.userid}}
            <br>
            Email: {{accountFormData.userDetail.email}}
            <br>
            Gender: {{accountFormData.userDetail.gender}}
        </div>
    </div>
</div>
