<div>
    <app-header></app-header>
</div>
<div class="container">
    <div>
        <h1>Account</h1>
    </div>

    <!-- Create New account -->
    <app-add-account
        (accountAdded)="onAccountCreate($event)"></app-add-account>
    <hr>
    <!-- List of accounts created -->
    <app-account-list 
        *ngFor="let acc of account; let i=index"
        [Accnt]="acc"
        [Id]="i"
        (AccountStateChange)="StateChange($event)"></app-account-list>
</div>
<div>
    <app-footer></app-footer>
</div>
